<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>283085070284-sqocu7lm47fu1g3f27u5j43jdl9mpr0e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.283085070284-sqocu7lm47fu1g3f27u5j43jdl9mpr0e</string>
	<key>API_KEY</key>
	<string>AIzaSyBqmlq8YXXRhZDxs8g5ijezaRR8GTZnUIE</string>
	<key>GCM_SENDER_ID</key>
	<string>283085070284</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iamandywu.iExpire</string>
	<key>PROJECT_ID</key>
	<string>foodsaversg</string>
	<key>STORAGE_BUCKET</key>
	<string>foodsaversg.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:283085070284:ios:8a3bb8d259d2cada708769</string>
</dict>
</plist>